/* Error: Undefined variable.
 *    ,
 * 32 | $table-border-width:          var(--#{$prefix}border-width);
 *    |                                       ^^^^^^^
 *    '
 *   assets\css\tickets-table.scss 32:39  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 32 \2502  $table-border-width:          var(--#{$prefix}border-width);\d\a    \2502                                        ^^^^^^^\a    \2575 \a   assets\\css\\tickets-table.scss 32:39  root stylesheet";
}
